include AUTHORS
include COPYING
include ChangeLog
include MANIFEST.in
include README.rst
include fribidi-src/AUTHORS
include fribidi-src/COPYING
include fribidi-src/ChangeLog
include fribidi-src/ChangeLog.old
include fribidi-src/INSTALL
include fribidi-src/Makefile.am
include fribidi-src/Makefile.in
include fribidi-src/NEWS
include fribidi-src/README
include fribidi-src/THANKS
include fribidi-src/TODO
include fribidi-src/aclocal.m4
include fribidi-src/bin/Makefile.am
include fribidi-src/bin/Makefile.in
include fribidi-src/bin/fribidi-benchmark.c
include fribidi-src/bin/fribidi-bidi-types.c
include fribidi-src/bin/fribidi-caprtl2utf8.c
include fribidi-src/bin/fribidi-main.c
include fribidi-src/bin/getopt.c
include fribidi-src/bin/getopt.h
include fribidi-src/bin/getopt1.c
include fribidi-src/bin/getopt_int.h
include fribidi-src/bin/gettext.h
include fribidi-src/bootstrap
include fribidi-src/charset/Headers.mk
include fribidi-src/charset/Makefile.am
include fribidi-src/charset/Makefile.in
include fribidi-src/charset/fribidi-char-sets-cap-rtl.c
include fribidi-src/charset/fribidi-char-sets-cap-rtl.h
include fribidi-src/charset/fribidi-char-sets-cp1255.c
include fribidi-src/charset/fribidi-char-sets-cp1255.h
include fribidi-src/charset/fribidi-char-sets-cp1256.c
include fribidi-src/charset/fribidi-char-sets-cp1256.h
include fribidi-src/charset/fribidi-char-sets-iso8859-6.c
include fribidi-src/charset/fribidi-char-sets-iso8859-6.h
include fribidi-src/charset/fribidi-char-sets-iso8859-8.c
include fribidi-src/charset/fribidi-char-sets-iso8859-8.h
include fribidi-src/charset/fribidi-char-sets-list.h
include fribidi-src/charset/fribidi-char-sets-utf8.c
include fribidi-src/charset/fribidi-char-sets-utf8.h
include fribidi-src/charset/fribidi-char-sets.c
include fribidi-src/charset/fribidi-char-sets.h
include fribidi-src/config.guess
include fribidi-src/config.h.in
include fribidi-src/config.sub
include fribidi-src/configure
include fribidi-src/configure.ac
include fribidi-src/depcomp
include fribidi-src/doc/Makefile.am
include fribidi-src/doc/Makefile.in
include fribidi-src/doc/c2man.stamp
include fribidi-src/doc/fribidi_charset_to_unicode.3
include fribidi-src/doc/fribidi_debug_status.3
include fribidi-src/doc/fribidi_get_bidi_type.3
include fribidi-src/doc/fribidi_get_bidi_type_name.3
include fribidi-src/doc/fribidi_get_bidi_types.3
include fribidi-src/doc/fribidi_get_joining_type.3
include fribidi-src/doc/fribidi_get_joining_type_name.3
include fribidi-src/doc/fribidi_get_joining_types.3
include fribidi-src/doc/fribidi_get_mirror_char.3
include fribidi-src/doc/fribidi_get_par_direction.3
include fribidi-src/doc/fribidi_get_par_embedding_levels.3
include fribidi-src/doc/fribidi_get_type.3
include fribidi-src/doc/fribidi_get_type_internal.3
include fribidi-src/doc/fribidi_join_arabic.3
include fribidi-src/doc/fribidi_log2vis.3
include fribidi-src/doc/fribidi_log2vis_get_embedding_levels.3
include fribidi-src/doc/fribidi_mirroring_status.3
include fribidi-src/doc/fribidi_parse_charset.3
include fribidi-src/doc/fribidi_remove_bidi_marks.3
include fribidi-src/doc/fribidi_reorder_line.3
include fribidi-src/doc/fribidi_reorder_nsm_status.3
include fribidi-src/doc/fribidi_set_debug.3
include fribidi-src/doc/fribidi_set_mirroring.3
include fribidi-src/doc/fribidi_set_reorder_nsm.3
include fribidi-src/doc/fribidi_shape.3
include fribidi-src/doc/fribidi_shape_mirroring.3
include fribidi-src/doc/fribidi_unicode_to_charset.3
include fribidi-src/doc/fribidi_unicode_version.3
include fribidi-src/doc/fribidi_version_info.3
include fribidi-src/fribidi.pc.in
include fribidi-src/gen.tab/Makefile.am
include fribidi-src/gen.tab/Makefile.in
include fribidi-src/gen.tab/gen-arabic-shaping-tab.c
include fribidi-src/gen.tab/gen-bidi-type-tab.c
include fribidi-src/gen.tab/gen-joining-type-tab.c
include fribidi-src/gen.tab/gen-mirroring-tab.c
include fribidi-src/gen.tab/gen-unicode-version.c
include fribidi-src/gen.tab/packtab.c
include fribidi-src/gen.tab/packtab.h
include fribidi-src/gen.tab/unidata/ArabicShaping.txt
include fribidi-src/gen.tab/unidata/BidiMirroring.txt
include fribidi-src/gen.tab/unidata/ReadMe.txt
include fribidi-src/gen.tab/unidata/UnicodeData.txt
include fribidi-src/install-sh
include fribidi-src/lib/Headers.mk
include fribidi-src/lib/Makefile.am
include fribidi-src/lib/Makefile.in
include fribidi-src/lib/arabic-misc.tab.i
include fribidi-src/lib/arabic-shaping.tab.i
include fribidi-src/lib/bidi-type.tab.i
include fribidi-src/lib/bidi-types.h
include fribidi-src/lib/common.h
include fribidi-src/lib/debug.h
include fribidi-src/lib/fribidi-arabic.c
include fribidi-src/lib/fribidi-arabic.h
include fribidi-src/lib/fribidi-begindecls.h
include fribidi-src/lib/fribidi-bidi-types-list.h
include fribidi-src/lib/fribidi-bidi-types.c
include fribidi-src/lib/fribidi-bidi-types.h
include fribidi-src/lib/fribidi-bidi.c
include fribidi-src/lib/fribidi-bidi.h
include fribidi-src/lib/fribidi-common.h
include fribidi-src/lib/fribidi-config.h.in
include fribidi-src/lib/fribidi-deprecated.c
include fribidi-src/lib/fribidi-deprecated.h
include fribidi-src/lib/fribidi-enddecls.h
include fribidi-src/lib/fribidi-flags.h
include fribidi-src/lib/fribidi-joining-types-list.h
include fribidi-src/lib/fribidi-joining-types.c
include fribidi-src/lib/fribidi-joining-types.h
include fribidi-src/lib/fribidi-joining.c
include fribidi-src/lib/fribidi-joining.h
include fribidi-src/lib/fribidi-mem.c
include fribidi-src/lib/fribidi-mirroring.c
include fribidi-src/lib/fribidi-mirroring.h
include fribidi-src/lib/fribidi-run.c
include fribidi-src/lib/fribidi-shape.c
include fribidi-src/lib/fribidi-shape.h
include fribidi-src/lib/fribidi-types.h
include fribidi-src/lib/fribidi-unicode-version.h
include fribidi-src/lib/fribidi-unicode.h
include fribidi-src/lib/fribidi.c
include fribidi-src/lib/fribidi.def
include fribidi-src/lib/fribidi.h
include fribidi-src/lib/joining-type.tab.i
include fribidi-src/lib/joining-types.h
include fribidi-src/lib/mem.h
include fribidi-src/lib/mirroring.tab.i
include fribidi-src/lib/run.h
include fribidi-src/ltmain.sh
include fribidi-src/missing
include fribidi-src/test/Makefile.am
include fribidi-src/test/Makefile.in
include fribidi-src/test/run.tests
include fribidi-src/test/test_CapRTL_explicit.input
include fribidi-src/test/test_CapRTL_explicit.reference
include fribidi-src/test/test_CapRTL_implicit.input
include fribidi-src/test/test_CapRTL_implicit.reference
include fribidi-src/test/test_ISO8859-8_hebrew.input
include fribidi-src/test/test_ISO8859-8_hebrew.reference
include fribidi-src/test/test_UTF-8_persian.input
include fribidi-src/test/test_UTF-8_persian.reference
include fribidi-src/test/test_UTF-8_reordernsm.input
include fribidi-src/test/test_UTF-8_reordernsm.reference
include fribidi_systray.py
include pyfribidi.c
include pyfribidi.h
include pyfribidi2.py
include setup.cfg
include setup.py
include test_pyfribidi.py
include time_pyfribidi.py
include tox.ini
